<div class="gf-form-inline">
	<div class="gf-form">
		<label class="gf-form-label query-keyword width-8">Metric</label>

		<metric-segment segment="projectSegment" get-options="getProjects()" on-change="projectChanged()"></metric-segment>
		<metric-segment segment="clusterSegment" get-options="getClusters()" on-change="clusterChanged()" ng-if="target.projectName"></metric-segment>
		<metric-segment segment="metricsSegment" get-options="getMetrics()" on-change="metricChanged()" ng-if="target.clusterName"></metric-segment>
	</div>
</div>

<div class="gf-form-inline">
	<div class="gf-form">
		<label class="gf-form-label query-keyword width-8">Dimensions</label>
		<metric-segment segment="mongoSegment" get-options="getMongos()" on-change="mongoChanged()" ng-if="isMetricSelected('process_measurements') || isMetricSelected('database_measurements') || isMetricSelected('disk_measurements')"></metric-segment>
		<metric-segment segment="databaseSegment" get-options="getDatabases()" on-change="databaseChanged()" ng-if="isMetricSelected('database_measurements')"></metric-segment>
		<metric-segment segment="diskSegment" get-options="getDisks()" on-change="diskChanged()" ng-if="isMetricSelected('disk_measurements')"></metric-segment>
		<metric-segment segment="dimensionSegment" get-options="getDimensions()" on-change="dimensionChanged()" ng-if="isMetricSelected('process_measurements') || isMetricSelected('database_measurements') || isMetricSelected('disk_measurements')"></metric-segment>
	</div>

	<div class="gf-form gf-form--grow">
		<div class="gf-form-label gf-form-label--grow"></div>
	</div>
</div>

<div class="gf-form-inline ">
	<div class="gf-form max-width-30 ">
		<label class="gf-form-label query-keyword width-7 ">Alias</label>
		<input type="text " class="gf-form-input " ng-model="target.alias" spellcheck='false' ng-model-onblur ng-change="onChange() ">
		<info-popover mode="right-absolute ">
			Alias replacement variables:
			<ul ng-non-bindable>
				<li>{{projectName}}</li>
				<li>{{clusterName}}</li>
				<li>{{mongo}}</li>
				<li>{{disk}}</li>
				<li>{{database}}</li>
				<li>{{dimensionName}}</li>
			</ul>
		</info-popover>
	</div>

	<div class="gf-form gf-form--grow ">
		<div class="gf-form-label gf-form-label--grow "></div>
	</div>
</div>
		